$borderRadius: 4px;

.tableWrapper {
  width: 100%;
  overflow-x: scroll;
}

@mixin borderColor {
  @apply border-light-2xl-gray dark:border-dark-2xl-gray;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  @apply border;
  @include borderColor;
  border-radius: 4px;

  tbody {
    tr:first-of-type {
      td {
        border-top: none;
        &:first-of-type {
          border-top-left-radius: 4px;
        }
        &:last-of-type {
          border-top-right-radius: 4px;
        }
      }

      th {
        @apply border-l bg-light-4xl-gray dark:bg-dark-4xl-gray;
        @include borderColor;
        &:first-of-type {
          border-top-left-radius: 4px;
          border-left: none;
        }
        &:last-of-type {
          border-top-right-radius: 4px;
        }
      }
    }

    td {
      padding: 4px;
      text-align: left;
      vertical-align: top;
      @apply border-l border-t;
      @include borderColor;
      &:first-of-type {
        border-left: none;
      }
    }
  }
}
