$borderRadius: 4px;
$borderColor: rgb(170 170 170);

.tableWrapper table {
  border: 1px solid $borderColor;
  border-collapse: separate;
  border-left: 0;
  border-radius: $borderRadius;
  border-spacing: 0px;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  th,
  td {
    text-align: left;
    vertical-align: top;
    border-left: 1px solid $borderColor;
    padding: 2px;
  }
  td {
    border-top: 1px solid $borderColor;
  }

  th {
    font-weight: normal;
    border-top: 1px solid $borderColor;
  }

  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    border-radius: $borderRadius 0 0 0;
  }

  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 $borderRadius;
  }
}
